/* formato formulario*/
form { font: 1em/1.5 monospace; 
margin-top:  200px; 
}
label,input { margin: 0.5em; }

html, body {
    margin: 0;
    background-color: rosybrown;
    background-image:url(fondo.jpg);
    background-size: cover;
   
    font-family: 'Raleway Dots', sans-serif;
}
  /* ormato encabezado*/
  #encabezado {
  background-color: aqua;
  background-image:url(encabezado.jpg);
  background-size: 100% 100%;

}
.imagen {
  display: flex;
  justify-content:right;
  align-items:center;
 
}
#imagen {
  margin: 50px;
 
  min-height: 200px;
}
h1,h2 { 
   color: #ffffff;
   
}
h1 {
  font-size: 100px;
  font-style: italic;
  margin-left: 20%;
 padding-top: 250px;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  margin-left: 25%;
  padding-top: 70px;
  color: red;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: black;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
 
    display: inline-block;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    

}
#iconos {
 text-align: center;
}
.ico{
  padding: 50px;
 
}

#sobreMi {
  text-align: center;
  margin: 0 auto;
  max-width: 70%;
}
 .exper  {
  text-align: center;
  margin: 0 auto;
  max-width: 70%;
 }


/* formato footer*/
  section #services {
    text-align: center;
    transform: translatez(0);
  }
  section #services h2 {
    margin: 80px 0px 40px;
    color: #fff;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 120px;
    height: 140px;
    display: inline-block;
    margin: 20px;
    list-style: none;
  }
  section #services li div {
    width: 120px;
    height: 120px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #77cc6d;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }
  section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }